<p id="notice"><%= notice %></p>

<p>
 <%= image_tag(@idea.picture_url, width: 600) if @idea.picture.present? %>
</p>

<p>
  <strong>Descriptoin:</strong>
  <%= @idea.descriptoin %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @idea.picture %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
